@{
    ViewData["Title"] = "Home Page";
}

<head>
    <link rel="stylesheet" href="~/css/homestyle.css" />
</head>
<body>
    <div class="content-container text-center">
        <h1 class="display-4">Welcome To The Music Store</h1>
        <img class="border-image" src="@Url.Content("~/Images/pngtree-hand-draw-guitar-png-image_4422984.png")" alt="Border Image">
    </div>
</body>