html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

th {
    font-size: 30px;
}

tr {
    border: ridge;
    color: slategrey;
}

h1 {
    font-size: 45px;
    color: slategray;
    font-family: Arial, Helvetica, sans-serif;
}

table {
    border: dashed;
}

p {
    font-size: 20px;
    font-weight: 600;
    color: slategray;
}

input[type="submit"]:hover {
    color: slategray;
    background-color: orange;
}

.search-form {
    display: flex;
    justify-content: space-between;
}

.form-group {
    flex: 1;
    margin-right: 10px; /* Adjust the margin as needed */
    font-size: 20px;
    font-weight: 600;
    color: slategray;
}